body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #ffba49;
  }
}

.makeStyles-btn-75 {
  &:hover {
    color: #ffba49
  }
}

.hover {
  &:hover {
    background: #141c3a;
  }
}
.hover-text {
  &:hover {
    opacity: 1;
  }
}